<h1><%= current_user.email %></h1>

<h2>Wikis</h2>
<ul>
	<% @wikis.each do |wiki| %>
		<li><%= link_to (markdown_to_html wiki.title), wiki %></li>
	<% end %>
</ul>
<h2>Collaborated Wikis</h2>
<ul>
	<% @collab_wikis.each do |collab| %>
		<li><%= link_to (markdown_to_html collab.title), collab %></li>
	<% end %>
</ul>
<br>

<br>
<% if current_user.role == "standard" %>
  <h4>Standard User</h4>
  <%= link_to "Upgrade Account", new_charge_path, class: 'btn btn-success' %>
<% elsif current_user.role == "premium" %>
  <h4>Premium User</h4>
  <%= link_to "Downgrade Account", downgrades_path(id: @user), data: { confirm: 'Are you sure? All Private Wikis will be made Public!' }, class: 'btn btn-danger', method: :post %> <br/>
    <p>Downgrading will Make all Private Wikis Public</p>
<% end %>


